﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="card col-md-5">
    <div class="card-content row" >
        <div class="form-group col-md-12">
        <label>Username</label><br />
        <input type="text" placeholder="Username" /><br />
        </div>
        <br />
        <div class="form-group col-md-12">
        <label>Password</label><br />
        <input type="password" placeholder="password"/></br><br />
        </div>
        <div class="form-group">
             <a href="~/HomeController1/index">
                <input type="submit" value="Login" class="btn btn-primary" />
                </a>
            </div>
    </div>
    <hr />
    <a href="~/home/Register">
        <button class="btn btn-primary">
        Register
        </button>
    </a>
</div>



