﻿<div class="card col-md-4">
        <p>Register</p><br />
    <div class="card-content row col-md-12">
        <div class="form-group">
            <label>Username</label><br />
            <input type="text"/>
        </div>
        <div class="form-group col-md-12">
            <label>Name</label><br />
            <input type="text"/>
        </div>
        <div class="form-group col-md-12">
            <label>Address</label><br />
            <input type="text" />
        </div><br />
        <div class="form-group col-md-12">
            <label>Date of Birth</label><br />
            <input type="text"/>
        </div>
        <div class="form-group col-md-12">
            <label>Email</label><br />
            <input type="email"/>
        </div>
    </div>
        <div class="form-group">
            <a href="~/HomeController1/index">
        <button class="btn btn-info btn-register">Register</button>
        </a>
        </div>
</div>