﻿@model MITT_Robby_Meliala.Models.SkillViewModel

<h4>SkillViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SkillID" class="control-label"></label>
                <input asp-for="SkillID" class="form-control" />
                <span asp-validation-for="SkillID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkillName" class="control-label"></label>
                <input asp-for="SkillName" class="form-control" />
                <span asp-validation-for="SkillName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

