﻿<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Homecontroller1" asp-action="Index"><button class="btn btn-success">Home</button></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Homecontroller1" asp-action="UserProfile"><button class="btn btn-success">User Profile</button></a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown nav-link">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Master
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="~/HomeController1/Skill">Skill</a>
                                <a class="dropdown-item" href="~/HomeController1/Skilllevel">Skill Level</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item col-md-offset-5" style="float:right;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Homecontroller1" asp-action="LogOut"><button class="btn btn-info">Log Out</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
