﻿<div class="card col-md-6" style="float:left;">
    <h3>Master Skill Level</h3>
    <hr />
    <button type="button" class="btn btn-success col-md-4 btn-add" data-toggle="modal" data-target="#myModals">Add New</button>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Skill Level ID</th>
      <th scope="col">Skill Level Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Skill Level A</td>
      
      <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal">Edit</button>&nbsp;<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModals">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Skill Level B</td>
      <td><button class="btn btn-warning">Edit</button>&nbsp;<button class="btn btn-danger">Delete</button></td>
    </tr>
    
  </tbody>
</table>
</div>

<div id="myModals" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="float:left;">Add Master Skill Level</h4>
        <button type="button" class="close" data-dismiss="modal" style="float:right;">&times;</button>
      </div>
      <div class="modal-body">
        <label>Skill Level Name</label><br />
        <input type="text" />
      </div>
      <div class="modal-footer">
        <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
      </div>
    </div>

  </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="float:left;">Edit Master Skill Level</h4>
        <button type="button" class="close" data-dismiss="modal" style="float:right;">&times;</button>
      </div>
      <div class="modal-body">
        <label>Skill Level Name</label><br />
        <input type="text" />
      </div>
      <div class="modal-footer">
        <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
      </div>
    </div>

  </div>
</div>

<div id="deleteModals" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="float:left;">Are you sure want to delete this?</h4>
        <button type="button" class="close" data-dismiss="modal" style="float:right;">&times;</button>
      </div>
      <div class="modal-body">
        <label>Skill Level Name</label><br />
        <input type="text" />
      </div>
      <div class="modal-footer">
        <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
      </div>
    </div>

  </div>
</div>