﻿<div class="card col-md-4">
        <h4>User Profile</h4>
        <hr />
    <div class="card-content row col-md-12">
        <div class="form-group">
            <label>Username</label><br />
            <input type="text"/>
        </div>
        <div class="form-group col-md-12">
            <label>Name</label><br />
            <input type="text"/>
        </div>
        <div class="form-group col-md-12">
            <label>Address</label><br />
            <input type="text" />
        </div><br />
        <div class="form-group col-md-12">
            <label>Date of Birth</label><br />
            <input type="text"/>
        </div>
        <div class="form-group col-md-12">
            <label>Email</label><br />
            <input type="email"/>
        </div>
    </div>
        <div class="form-group">
            <a href="~/HomeController1/index">
        <button class="btn btn-info btn-edit">Edit</button>
        </a>
        </div>
        <br />

        <h5>User Skill</h5>
         <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Skill ID</th>
                <th scope="col">Skill Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Skill A</td>

                <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModalsU">Edit</button>&nbsp;<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModalU">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Skill B</td>
                <td><button class="btn btn-warning">Edit</button><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>


<div id="editModalsU" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="float:left;">Edit Master Skill</h4>
        <button type="button" class="close" data-dismiss="modal" style="float:right;">&times;</button>
      </div>
      <div class="modal-body">
        <label>Skill Name</label><br />
        <input type="text" />
      </div>
      <div class="modal-footer">
        <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
      </div>
    </div>

  </div>
</div>

<div id="deleteModalU" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="float:left;">Are you sure want to delete this?</h4>
        <button type="button" class="close" data-dismiss="modal" style="float:right;">&times;</button>
      </div>
      <div class="modal-body">
        <label>Skill Name</label><br />
        <input type="text" />
      </div>
      <div class="modal-footer">
        <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                    </button>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
      </div>
    </div>

  </div>
</div>